@model assignment_4.Dbo.PostModelDbo

<div>
    <h2 class="Title">@Model.Title - <span class="text-muted">@Model.Nickname</span></h2>
    <p class="Summary">@Model.Summary</p>
    <p class="Content">@Model.Content</p>
    <p class="Time">@Model.Time.ToString("dd.MM.yyyy")</p>
    
    @if (Model.CanEdit)
    {
    <a href="https://localhost:7223/Blog/Edit/@Model.Id"><button class="btn btn-secondary">edit</button></a>
    }
</div>
<br/>
 